@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon1.eot?hx69oz');
  src:  url('../fonts/icomoon1.eot?hx69oz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon1.ttf?hx69oz') format('truetype'),
    url('../fonts/icomoon1.woff?hx69oz') format('woff'),
    url('../fonts/icomoon1.svg?hx69oz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cog:before {
  content: "\e994";
}
