@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon4.eot?b0rztg');
  src:  url('../fonts/icomoon4.eot?b0rztg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon4.ttf?b0rztg') format('truetype'),
    url('../fonts/icomoon4.woff?b0rztg') format('woff'),
    url('../fonts/icomoon4.svg?b0rztg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shopping-bag:before {
  content: "\e901";
}
