@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon3.eot?5ujf3r');
  src:  url('../fonts/icomoon3.eot?5ujf3r#iefix') format('embedded-opentype'),
    url('../fonts/icomoon3.ttf?5ujf3r') format('truetype'),
    url('../fonts/icomoon3.woff?5ujf3r') format('woff'),
    url('../fonts/icomoon3.svg?5ujf3r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gift:before {
  content: "\e900";  
    color: green;
    
}

.icon-present {
  content: "\e900";
}
.icon-box:before {
  content: "\e900";
}
