@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon5.eot?ka4w8c');
  src:  url('../fonts/icomoon5.eot?ka4w8c#iefix') format('embedded-opentype'),
    url('../fonts/icomoon5.ttf?ka4w8c') format('truetype'),
    url('../fonts/icomoon5.woff?ka4w8c') format('woff'),
    url('../fonts/icomoon5.svg?ka4w8c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-price-tags:before {
  content: "\e903";
}
.icon-heart:before {
  content: "\e902";
}
.icon-bubble:before {
  content: "\e901";
}
.icon-user:before {
  content: "\e900";
}
